.header {
  color: #fff;
  margin-bottom: 2rem;
  .edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 10rem;
  }

  .inputs-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
